{% extends "base.html" %}

{% block content %}
<table id="processes_table" class="hover order-column row-border">
    <thead>
        <tr>
            <th>ID</th>
            <th>Uptime</th>
            <th>GPUs</th>
            <th>Path</th>
            <th>Command</th>
            <th>Status</th>
            <th>Outputs</th>
            <th>Kill</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var table = $('#processes_table').DataTable({
            ajax: '/api/update_processes_table',
            serverSide: true,
            processing: false,
            columns: [
                { data: 'ID' },
                { data: 'uptime' },
                { data: 'gpus' },
                { data: 'path' },
                { data: 'command' },
                { data: 'status' },
                { data: null },
                { data: null }
            ],
            columnDefs: [
                {},
                {},
                {},
                {},
                {},
                {},
                // button column
                {
                    "targets": -2,
                    "data": null,
                    "defaultContent": '<button type="button" class="btn btn-outline-primary" id="view">view</button>'
                },
                {
                    "targets": -1,
                    "data": null,
                    "defaultContent": '<button type="button" class="btn btn-outline-danger" id="kill">kill</button>'
                },
            ]
        });

        $('#processes_table tbody').on('click', '[id="view"]', function () {
            var data = table.row($(this).parents('tr')).data();
            window.location.replace("/view_log/" + data["ID"])
        });
        $('#processes_table tbody').on('click', '[id="kill"]', function () {
            var data = table.row($(this).parents('tr')).data();
            window.location.replace("/kill_job/" + data["ID"])
        });
    });

    setInterval(function () {
        $('#processes_table').DataTable().ajax.reload(null, false);
    }, 1000);
</script>
{% endblock %}